BasedOnStyle: LLVM
Language: Cpp
AccessModifierOffset: -4
BraceWrapping:
  AfterCaseLabel: false
  AfterClass: true
  AfterControlStatement: Never
  AfterEnum: true
  AfterExternBlock: false
  AfterFunction: true
  AfterNamespace: true
  AfterObjCDeclaration: true
  AfterStruct: true
  AfterUnion: true
  BeforeCatch: false
  BeforeElse: false
  BeforeLambdaBody: false
  BeforeWhile: false
  IndentBraces: false
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false
BreakBeforeBraces: Custom
BreakBeforeBinaryOperators: None
AllowAllParametersOfDeclarationOnNextLine: true
BinPackArguments: false
PenaltyBreakBeforeFirstCallParameter: 1000
ColumnLimit: 100
ForEachMacros:
  - foreach
  - Q_FOREACH
  - BOOST_FOREACH
IfMacros:
  - KJ_IF_MAYBE
IndentWidth: 4
AllowShortCompoundRequirementOnASingleLine: true
